<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/App/app-style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/App/app-jq.js")" type="text/javascript"></script>*@
    @Html.Partial("_DataTablePartial")
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Progress Bar Sample Application</h1>
            </div>
            <div id="sociallinks">
                @Html.Partial("_SocialLinkPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Category", "Index", "Category")</li>
                    <li>@Html.ActionLink("Product", "Index", "Product")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            <div id="commonMessage">
            </div>
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
